.sideBarWrapper {
  transform: translateX(0);
  transition: transform var(--duration) ease-in-out;
}

.sideBarWrapper.hidden {
  transform: translateX(-100%);
}


.sideBar {
  background-color: var(--white);
  width: calc(250px + 2.5vw);
  height: calc(100vh - 90px);
  border-right: 1px solid var(--light-blue);
  margin-top: -1px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: static;
  transform: translateX(0);
  transition: transform var(--duration) ease-in-out;
  overflow-y: scroll;
}

.sideBar.hidden {
  transform: translateX(-100%);
}


.actionButtons {
  border-top: 1px solid var(--light-blue);
  display: flex;
  flex-direction: column;
  padding: 25px 0;
}

.actionButtons button {
  max-width: 40%;
  margin: 0 5%;
}

#hideButton {
  max-width: fit-content;
  margin-bottom: 50px;
  color: var(--grey);
  font-weight: 600;
  font-size: 1em;
}

#hideButton svg {
  margin-right: 10px;
}

#hideButton:hover {
  color: var(--light-grey);
  transition-duration: var(--duration);
}


.titleContainer {
  padding-left: 20px;
  display: flex;
  align-items: center;
  height: 0;
  visibility: hidden;
}

.title {
  font-weight: 800;
  margin: 0 15px;
}


@media only screen and (max-width: 1200px){
  .sideBarWrapper {
    position: absolute;
    z-index: 99;
  }
}

@media only screen and (max-width: 800px){
  .sideBarWrapper {
    top: 0;
  }

  .sideBar {
    padding-top: 0;
    height: 100vh;
  }

  .titleContainer {
    visibility: visible;
    height: 90px;
    margin-bottom: 10px;
  }
}