.sideBarWrapper {
  transform: translateX(0);
  transition: transform var(--duration) ease-in-out;
}

.sideBarWrapper.hidden {
  transform: translateX(-100%);
}


.sideBar {
  background-color: var(--white);
  width: calc(250px + 3vw);
  height: calc(100vh - 90px);
  border-right: 1px solid var(--light-blue);
  margin-top: -1px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: static;
  transform: translateX(0);
  transition: transform var(--duration) ease-in-out;
}

.sideBar.hidden {
  transform: translateX(-100%);
}


.actionButtons {
  border-top: 1px solid var(--light-blue);
  display: flex;
  flex-direction: column;
  padding: 25px 0;
}

.actionButtons button {
  max-width: 40%;
  margin: 0 5%;
}

.hideButton {
  margin: 0 5%;
  margin-bottom: 50px;
  color: var(--grey);
  font-weight: 600;
  cursor: pointer;
}

.hideButton svg {
  margin-right: 10px;
}

.hideButton:hover {
  color: var(--light-grey);
  transition-duration: var(--duration);
}