
.deleteMessage {
  margin-top: 0;
  margin-bottom: 25px;
}


.confirmationButtonsWrapper {
  display: flex;
  justify-content: space-around;
}

.bold {
  font-weight: 600;
}

.underline {
  text-decoration:underline;
  text-decoration-thickness: 1px;
}