.column {
  min-height: 100%;
}

.columnHeaderWrapper {
  display: flex;
  align-items: center;
}

.columnHeader {
  font-size: 1em;
  color: var(--grey);
  margin-left: 10px;
}

.columnHeaderWrapper.TO_DO svg {
  color: var(--todo-dot);
}

.columnHeaderWrapper.IN_PROGRESS svg {
  color: var(--in-progress-dot);
}

.columnHeaderWrapper.DONE svg {
  color: var(--done-dot);
}

.tasksList {
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
  margin-top: 20px;
}


@media only screen and (max-width: 768px) {
  .columnWrapper {
    overflow-y: scroll;
    flex: 0 0 100%;
    scroll-snap-align: start;
    padding-inline: 1rem;
    box-sizing: border-box;
    position: relative;
    scrollbar-width: none;
  }
}

.columnWrapper::-webkit-scrollbar {
  display: none;
}
