.subtasksWrapper {
  margin-bottom: 25px;
}

.inputsLabel {
  font-weight: 600;
  color: var(--grey);
  margin-bottom: 10px;
}

.inputWrapper {
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.addButton {
  color: var(--main-purple);
  font-size: 1.5em;
  margin-right: 3.5px;
}

.deleteButton {
  color: var(--red);
  font-size: 1.5em;
  margin-right: 3.5px;
}