.boardsListHeader {
  margin-top: 0;
  padding-left: 20px;
}

.boardsList {
  list-style-type: none;
  padding-left: 0;
  padding-right: 30px;
}

.boardItem {
  white-space: nowrap;
  width: 100%;
  max-width: 100%;
  overflow: clip;
  text-overflow: ellipsis;
  display: inline-block;
  margin: 5px 0;
  color: var(--medium-grey);
  padding: 10px 0;
  padding-left: 20px;
  font-weight: 600;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
}

.boardItem.active {
  background-color: var(--main-purple);
  color: var(--white);
}

.boardItem:not(.active):hover {
  background-color: var(--very-light-purple);
  color: var(--white);
  transition-duration: var(--duration);
}

.addBoardButton {
  display: flex;
  width: fit-content;
  align-items: center;
  margin: 10px 0;
  color: var(--main-purple);
  margin-top: 20px;
  padding: 10px 0;
  padding-left: 20px;
  font-weight: 600;
  cursor: pointer;
}

.addBoardButton:hover {
  color: var(--very-light-purple);
  transition-duration: var(--duration);
}

.addBoardButton svg {
  margin-right: 5px;
}