.navbar {
  height: 90px;
  border-bottom: 1px solid var(--light-blue);
  background-color: var(--white);
}

.navbar, .titleContainer, .wrapper {
  display: flex;
  align-items: center;
}

.wrapper {
  height: 100%;
}

.title {
  font-weight: 800;
  margin: 0 15px;
}

.titleContainer {
  height: 100%;
  padding-right: 30px;
  border-right: 1px solid var(--light-blue);
  width: 250px;
  min-width: 250px;
}

.utilityBar {
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  overflow: hidden;
  max-height: 100%;
}

.utilityBar h2 {
  overflow: auto;
  margin: 0;
  max-height: 80px;
}

.buttonsWrapper {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 992px){
  .navbar {
    font-size: 14px;
  }
}

@media only screen and (max-width: 800px){
  .titleContainer {
    visibility: hidden;
    min-width: 0;
    width: 0;
    padding: 0;
  }

  .utilityBar {
    padding-left: 0;
  }
}

@media only screen and (max-width: 500px){
  .utilityBar {
    font-size: 12px;
  }
}