.userCard {
  display: flex;
  width: 100%;
  align-items: center;
}

.usersList .usersListItem {
  border-bottom: 1px solid rgb(215, 215, 215);
  padding: 16px;
  padding-right: 0;
}

.usersList .usersListItem:first-child {
  border-top: 1px solid rgb(215, 215, 215);
}

.usersList .addUserInputWrapper {
  margin-top: 30px;
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
}

.avatar {
  height: 48px;
  border-radius: 50%;
  margin-right: 15px;
}


.userData p {
  margin: 0;
  line-height: normal;
}

.userName {
  font-weight: 600;
}

.userEmail {
  color: var(--medium-grey);
  font-size: 0.9em;
}

.addButton {
  color: var(--main-purple);
  font-size: 1.5em;
  margin-right: 3.5px;
}

.deleteButton {
  color: var(--red);
  font-size: 1.5em;
  margin-right: 3.5px;
}

@media only screen and (max-width: 500px){
  .usersList .usersListItem {
    padding: 12px 0;
    font-size: 14px;
    overflow-x: auto;
  }

  .avatar {
    height: 36px;
  }


}