.wrapper {
  display: flex;
}

.contentWrapper {
  transition: margin var(--duration) ease-in-out;
  width: 100%;
  padding: 1.5% 40px;
  height: calc(100vh - 90px);
  overflow-y: scroll;
}

.contentWrapper.sidebarHidden {
  margin-left: -250px;
  padding-right: calc(40px + 2.5%);
}

.showButton {
  width: 50px;
  display: flex;
  justify-content: center;
  padding: 10px;
  position: absolute;
  bottom: 10%;
  background-color: var(--main-purple);
  color: var(--white);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  font-size: 1.25em;
  z-index: 99;
}

.showButton:hover {
  background-color: var(--light-purple);
  transition-duration: var(--duration);
}

.showButton:focus {
  background-color: var(--light-purple);
  transition-duration: var(--duration);
}

@media only screen and (max-width: 1200px) {
  .contentWrapper.sidebarHidden {
    margin-left: 0;
    padding-right: 40px;
  }

  .contentWrapper:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  .contentWrapper:not(.sidebarHidden):before {
    opacity: 1;
    pointer-events: auto;
    width: calc(100% - (250px + 2.5vw));
  }
}

@media only screen and (max-width: 400px) {
  .contentWrapper {
    padding: 10px;
  }

  .contentWrapper.sidebarHidden {
    padding-right: 10px;
  }
}