:root {
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  word-break: break-all;
}

a {
  text-decoration: none;
  color: inherit;
}


.button-small {
  height: 40px;
  width: 200px;
}

.button-large {
  height: 48px;
  width: 200px;
}