:root {
  /* Colors */
  --main-purple: #635FC7;
  --light-purple: #A8A4FF;
  --very-light-purple: #c2c0f3;
  --black: #000112;
  --very-dark-grey: #20212C;
  --dark-grey: #2B2C37;
  --medium-grey: #3E3F4E;
  --grey: #828FA3;
  --light-blue: #E4EBFA;
  --very-light-blue: #F4F7FD;
  --white: #FFF;
  --red: #EA5555;
  --light-red: #FF9898;


  /* Typography */
  --main-font: 'Plus Jakarta Sans Variable', sans-serif;
}